<div id="<%= dom_id formulary %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= formulary.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= formulary.description %>
  </p>

</div>
